# backend
build/
*.db
application.properties

# frontend
node_modules/
build/
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# eclipse
bin/
.classpath
.project
.settings

# vscode
.vscode/
